<div class="container mt-2 mt-md-5 p-3">

    <app-loading-spinner *ngIf="loading"></app-loading-spinner>

    <form #f="ngForm" *ngIf="!loading" class="col-12 col-md-8 ml-auto mr-auto mb-1" novalidate>

        <div class="form-row">
            <div class="form-group col-12">

                <input (ngModelChange)="walletAddressChanged($event)" [(ngModel)]="walletAddress"
                       autocomplete="off"
                       class="form-control text-center" id="walletAddress"
                       name="walletAddress" placeholder="Ethereum Wallet Address"
                       type="text">
            </div>
        </div>
    </form>

    <div class="row border-bottom mb-3 pb-3 mt-5">
        <div class="col-4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; font-size: 1.3rem;">
            Smart Contract
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; font-size: 1.3rem;">
                    Token Address
                </div>
                <div class="col-6" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; font-size: 1.3rem;">
                    Allowance
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let item of approves" class="row border-bottom mb-3 pb-3">
        <div class="col-4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
            {{item.address}}
        </div>
        <div class="col-8">
            <div *ngFor="let approval of item.approvals" class="row">
                <div class="col-6" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    {{approval.tokenAddress}}
                </div>
                <div class="col-6" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        {{approval.allowance}}
                </div>
            </div>
        </div>
    </div>
</div>
