<div class="container mt-2 mt-md-5 p-3">

    <app-loading-spinner *ngIf="loading"></app-loading-spinner>

    <form #f="ngForm" *ngIf="!loading" class="col-12 col-md-8 ml-auto mr-auto mb-1" novalidate>

        <div class="form-row">
            <div class="form-group col-8 ml-auto mr-auto">

                <input [formControl]="walletAddressControl"
                       class="form-control text-center" id="walletAddress"
                       name="walletAddress" placeholder="Ethereum Wallet Address"
                       type="text">
            </div>
        </div>
    </form>

    <div *ngIf="!loading && walletAddress !== ''">
        <div *ngIf="done" class="alert alert-success mb-5" role="alert">
            Decline transaction was successfully send.<br> <a
            [href]="'https://etherscan.io/tx/' + transactionHash" target="_blank">{{transactionHash}}</a>
        </div>

        <div *ngIf="error" class="alert alert-danger mb-5" role="alert">
            An error is occured. Please try again later or contact us.
        </div>

        <div class="row border-bottom mb-3 pb-3 mt-5">
            <div class="col-4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; font-size: 1.3rem;">
                Smart Contract
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6"
                         style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; font-size: 1.3rem;">
                        Token
                    </div>
                    <div [className]="!hasWeb3Provider ? 'col-6' : 'col-4'" class="col-4"
                         style="text-align: center; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; font-size: 1.3rem;">
                        Allowance
                    </div>
                    <div *ngIf="hasWeb3Provider" class="col-2"
                         style="text-align: center; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; font-size: 1.3rem;">
                        <button (click)="declineAll()"
                                class="btn btn-warning btn-sm ml-1">

                            Decline ALL
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let item of approves" class="row border-bottom mb-3 pb-3">
            <div class="col-4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; font-size: 0.8rem;">

                <div *ngIf="contractsService.contracts[item.address]">
                    <img [alt]="contractsService.contracts[item.address].name"
                         [src]="contractsService.contracts[item.address].logo" width="64">
                    <h4>{{contractsService.contracts[item.address].name}}</h4>
                </div>

                <a [href]="'https://etherscan.io/address/' + item.address" class="d-block" target="_blank">
                    {{item.address}}
                </a>

                <button (click)="declineforContract(item.address)" *ngIf="hasWeb3Provider"
                        class="btn btn-info btn-sm ml-1 mt-3">

                    Decline for contract
                </button>
            </div>
            <div class="col-8">
                <div *ngFor="let approval of item.approvals">
                    <div *ngIf="!removedTokenTransaction[approval.tokenAddress + approval.spenderAddress]"
                         class="row border-bottom pb-3 mb-2">
                        <div class="col-6" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <a [href]="'https://etherscan.io/token/' + approval.tokenAddress + '?a=' + walletAddress"
                               [title]="approval.tokenAddress" style="color: #fdc100;" target="_blank">
                                <img
                                    [alt]="approval.symbol"
                                    [src]="'https://1inch.exchange/assets/tokens/' + approval.tokenAddress.toLowerCase() + '.png'"
                                    class="mr-1"
                                    onerror="this.src = 'https://1inch.exchange/assets/tokens/token.png';"
                                    width="32">
                                {{approval.symbol}}
                            </a>
                            <div class="text-secondary mt-2" style="font-size: 0.8rem;">
                                {{approval.tokenAddress}}
                            </div>
                        </div>
                        <div [className]="!hasWeb3Provider ? 'col-6' : 'col-4'"
                             style="text-align: center; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            {{approval.formatedAllowance}}
                        </div>
                        <div *ngIf="hasWeb3Provider" class="col-2" style="text-align: center;">
                            <button (click)="decline(approval)"
                                    *ngIf="!processTokenTransaction[approval.tokenAddress + approval.spenderAddress]"
                                    class="btn btn-danger btn-sm ml-1">

                                Decline
                            </button>

                            <img *ngIf="processTokenTransaction[approval.tokenAddress + approval.spenderAddress]" alt="Loading..."
                                 class="loading-spinner"
                                 src="assets/loading.svg" style="width: 48px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
