.todo-column {
	padding: 10px;
	text-align: center;
	/* max-width: 200px; */
}

.list-group-item {
	position: relative;
	max-width: 350px;
	overflow: hidden;
	word-break:break-all;
}

.buttons-group button {
	display: inline-block;
	position: relative;
	margin: 5px;
}